# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
